/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.ion-color-calories {
	--ion-color-base: rgb(75, 187, 23);
	--ion-color-base-rgb: 37,93,11;
}

.ion-color-protein {
	--ion-color-base: rgb(253, 106, 2);
	--ion-color-base-rgb: 126,53,1;
}

.ion-color-fat {
	--ion-color-base: rgb(255, 211, 0);
	--ion-color-base-rgb: 127,105,0;
}

.ion-color-carbs {
	--ion-color-base: rgb(15, 82, 186);
	--ion-color-base-rgb: 7,41,93;
}

.ion-color-fiber {
	--ion-color-base: rgb(138, 154, 91);
	--ion-color-base-rgb: 69,77,45;
}
